@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin Tools - Insert Data";
}

<div class="row p-2">
    <div class="col-2">
        <div class="list-group">
            <button id="supermarket_view_btn" class="list-group-item list-group-item-action" onclick="callSupermarketForm()">
                Supermarket
            </button>
            <button id="product_view_btn" class="list-group-item list-group-item-action" onclick="callProductForm()">Product</button>
        </div>
    </div>
    <div class="col">
        <div id="menu_content" class="container p-2">
            Choose wich data type you wish to create on the left menu
        </div>
    </div>
</div>


<script>
    function callSupermarketForm() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("CreateSupermarket", "Admin")',
            accepts: "*/*",
            success: function(data) {
                $('#menu_content').html(data);
                $('#product_view_btn').removeClass("active");
                $('#supermarket_view_btn').addClass("active");
            },
            failure: function (response) {
                console.log(response.responseText);
            },
        });
    }

    function callProductForm() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("CreateProduct", "Admin")',
            accepts: "*/*",
            success: function(data) {
                $('#menu_content').html(data);
                $('#supermarket_view_btn').removeClass("active");
                $('#product_view_btn').addClass("active");
            },
            failure: function (response) {
                console.log(response.responseText);
            },
        });
    }
</script>
