
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Help the environment by changing your shoplist!</h1>
    <p class="p-2">Add the products wich make your shopping list and choose a supermarket of your choice</p>
    <p class="p-2">The system will present you with available options wich are better for our Planet</p>

    <div class="container">
        <div class="row">
            <div class="col">
                <select id="supermarket_select" class="form-control w-75" onchange="setProductsList()">
                    <option disabled selected>--Choose a Supermarket--</option>
                </select>
            </div>
            <div id="products_list_div" class="col-8 invisible">
                <form class="mt-4" asp-action="GetAPIGreenList" autocomplete="off">
                    <input type="hidden" id="supermarketSelected" name="supermarketSelected" value="none">
                    <div id="shoplistForm">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <input id="1" name="item_input" class="form-control" type="text" placeholder="Add new Item" onkeyup="getClosestProducts(this.id)" />
                                    </div>
                                    <div id="data_1" class="row invisible">
                                        <select multiple class="form-control invisible" id="sugestion_select_1"></select>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <button type="button" onclick="deleteInput(1)" class="btn btn-danger">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success" type="submit">
                        Get Green Shop List
                    </button>
                </form>
            </div>
        </div>
    </div>
    <button class="btn btn-light" onclick="add_shoplist_input()">Add new item</button>
</div>


<script>
    window.onload = getAllSupermarkets;

    function getAllSupermarkets() {
         $.ajax({
            type: "GET",
            url: '@Url.Action("GetAllSupermarkets")',
            accepts: "*/*",
             success: function (data) {
                 for (var i = 0; i < data.length; i++){
                     var newOption = document.createElement("option");
                     newOption.value = data[i].name;
                     newOption.text = data[i].name;
                     document.getElementById("supermarket_select").appendChild(newOption);
                 }
                console.log(data);

            },
            failure: function (response) {
                console.log(response.responseText);
            },
        });
    }

    function add_shoplist_input() {
        var inputs = document.getElementsByName("item_input");
        var inputsAmount = inputs.length + 1;
        for (var inn = 0; inn < inputsAmount - 1; inn++) {
            inputs[inn].value = inputs[inn].value
        }
        document.getElementById("shoplistForm").innerHTML +=
            "<div class='form-group'>" +
            "<div class='row'>" +
            "<div class='col'>" +
            "<div class='row'>" +
            "<input id='" + inputsAmount + "' name='item_input' class='form-control' type='text' placeholder='Add new Item' onkeyup='getClosestProducts(this.id)' />" +
            "</div>" +
            "<div id='data_" + inputsAmount + "' class='row invisible'>" +
            "<select multiple class='form-control invisible' id='sugestion_select_" + inputsAmount + "'></select>" +
            "</div>" +
            "</div>" +
            "<div class='col-1'>" +
            "<button type='button' onclick='deleteInput(" + inputsAmount + " )' class='btn btn-danger'>Delete</button>" +
            "</div>" +
            "</div>" +
            "</div>";
    }

    function deleteInput(input_id) {
        event.srcElement.remove();
        console.log(input_id);
        var input_selected = document.getElementById(input_id);
        input_selected.remove();
    }

    function setProductsList() {
        var current_supermarket = document.getElementById("supermarket_select");
        document.getElementById("supermarketSelected").value = current_supermarket.value;
        console.log(current_supermarket.value);
        var inputs = document.getElementsByName("item_input");
        for (var inp = 0; inp < inputs.length; inp++) {
            inputs[inp].value = "";
        }

        document.getElementById("products_list_div").classList.remove("invisible");
    }

    function getClosestProducts(input_id) {
        console.log(input_id);
        var currentInput = document.getElementById(input_id).value;
        var current_supermarket = document.getElementById("supermarket_select").value;
        var sugestionList = document.getElementById("sugestion_select_" + input_id);
        sugestionList.innerHTML = "";
        var dataDiv = document.getElementById("data_" + input_id);
        if (currentInput == "") {
            dataDiv.classList.add("invisible");
            sugestionList.classList.add("invisible");
        }
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetProductsHints")',
            accepts: "*/*",
            data: {
                input: currentInput,
                supermarket: current_supermarket
            },
            success: function (data) {
                if (data.length > 0) {
                    dataDiv.classList.remove("invisible");
                    sugestionList.classList.remove("invisible");
                } else if (data.length == 0 && currentInput.length > 0) {
                    var no_product = document.createElement("option");
                    no_product.text = "There seems to be no products with that name in the choose Supermarket";
                    no_product.selected = true;
                    no_product.disabled = true;
                }
                for (var options = 0; options < data.length; options++) {
                    var data_name = data[options].name;
                    var data_id = data[options].id;
                    var newDataOption = document.createElement("option");
                    newDataOption.value = data_id;
                    newDataOption.text = data_name;
                    newDataOption.addEventListener("click", function (event) {
                        console.log(event.target.text);
                        $(currentInput).val(event.target.text);
                    });
                    sugestionList.appendChild(newDataOption);
                }
                console.log(data);

            },
            failure: function (response) {
                console.log(response.responseText);
            },
        });
        console.log(currentInput);
    }
</script>


