@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<div class="alert alert-success" role="alert">
    Your shoplist has been saved to your profile!
</div>


